* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}






header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #fafafa;
    border-bottom: 1px solid #1a1a1a;
    padding: 15px;
}

header img {
    height: 45px;
    object-fit: contain;
    justify-self: left;
    margin-right: 750px;
    margin-left: 10px;
}

header ul {
    display: flex;
    justify-content: right;
    align-items: center;
    list-style: none;
}

header li {
    margin: 0 6px;
    color: #1a1a1a;
}
header a {
    text-decoration: none;
    color: #1a1a1a;
    font-size: 14px;
    padding:  5px;
    transition: background-color 0.3s ease-in-out;
   
}

header a:hover {
   color: #1a1a1a;
   border-bottom: 1px solid #1a1a1a;
   border-bottom-width: thin;
   padding: 5px;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    header ul {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    header li {
        margin: 10px 0;
    }
}


.contact-section {
    padding: 110px;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
}

.contact-text {
    flex: 1;
    text-align: left;
    margin-right: 20px;
}

.contact-text h2 {
    color: #1a1a1a;
}

.highlight-text {
    font-size: 1.2rem;
    font-weight: bold; 
    margin-bottom: 15px;
    color: #333; 
}

.contact-info {
    margin-top: 10px;
}

.contact-info a {
    color: #1a1a1a;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.contact-image {
    flex: 0.5; 
    display: flex;
    justify-content: flex-end;
}

.contact-image img {
    max-width: 100%; 
    max-height: 350px; 
    width: auto;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

 
footer {
    background-color: #1a1a1a;
    color: #fafafa;
     padding: 20px 15px; 
    font-size: 14px;
    margin-top: auto;
   
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 80px; 
}

.footer-block {
    width: 38%; 
}

.footer-block p {
    margin: 5px 0;
}

.footer-block a {
    color: #fafafa;
    text-decoration: none;
}

.footer-block a:hover {
    text-decoration: underline;
}

.social-links {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px; 
}

.social-links li {
    display: inline-block;
}

.social-links a {
    color: #fafafa;
    text-decoration: none;
    transition: color 0.3s ease;    
}

.social-links a:hover {
    color: #fafafa;
    text-decoration: underline;
}


@media (max-width: 768px) {
    .footer-block {
        width: 100%; 
    }
}