* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}
header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #fafafa;
    border-bottom: 1px solid #1a1a1a;
    padding: 15px;
}

header img {
    height: 45px;
    object-fit: contain;
    justify-self: left;
    margin-right: 750px;
    margin-left: 10px;
}

header ul {
    display: flex;
    justify-content: right;
    align-items: center;
    list-style: none;
}

header li {
    margin: 0 6px;
    color: #1a1a1a;
}
header a {
    text-decoration: none;
    color: #1a1a1a;
    font-size: 14px;
    padding:  10px;
    transition: background-color 0.3s ease-in-out;
   
}

header a:hover {
   color: #1a1a1a;
   border-bottom: 1px solid #1a1a1a;
   border-bottom-width: thin;
   padding: 10px;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    header ul {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    header li {
        margin: 10px 0;
    }
}




        .wrapper {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            width: 100%;
        }

        .main-content {
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: flex-start;
            padding: 20px;
        }

        .content {
            flex: 1;
            padding: 20px;
            background: #fff;
            margin: 20px;
            border-radius: 8px;
            max-width: 500px;
        }

        .content h1 {
            margin-bottom: 15px;
            font-size: 24px;
        }

        .content p {
            line-height: 1.6;
        }

        .sidebar {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            margin: 20px;
            margin-top: 30px;
            border-radius: 8px;
            max-width: 600px;
        }

        .logo {
            width: 150px;
            height: 150px;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            font-weight: bold;
            font-size: 16px;
        }

        .partnership-logos {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: center;
        }

        .partnership-logos img {
            width: 70px;
            height: 70px;
            object-fit: cover;
            border-radius: 4px;
            
        }

        @media (max-width: 768px) {
            .main-content {
                flex-direction: column;
                align-items: center;
            }

            .sidebar, .content {
                max-width: 90%;
            }
        }

        #partnerat{
            margin-bottom: 15px;
            font-weight: 400;
            font-size: 20px;
        }

        footer {
            background-color: #1a1a1a;
            color: #fafafa;
            padding: 20px 15px;
            font-size: 14px;
        }
        
        .footer-container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 80px; 
        }
        
        .footer-block {
            width: 38%; 
        }
        
        .footer-block p {
            margin: 5px 0;
        }
        
        .footer-block a {
            color: #fafafa;
            text-decoration: none;
        }
        
        .footer-block a:hover {
            text-decoration: underline;
        }
        
        .social-links {
            list-style: none;
            padding: 0;
            display: flex;
            gap: 10px; 
        }
        
        .social-links li {
            display: inline-block;
        }
        
        .social-links a {
            color: #fafafa;
            text-decoration: none;
            transition: color 0.3s ease;    
        }
        
        .social-links a:hover {
            color: #fafafa;
        }
        
        
        @media (max-width: 768px) {
            .footer-block {
                width: 100%; 
            }
        }