* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body {
 
   
    background-color: #f4f4f4;
    color: #333;
}

h2 {
    text-align: center;
    color: #444;
}

h3 {
    margin-top: 20px;
    color: #555;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

p[style*="color: green;"] {
    font-weight: bold;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    table, th, td {
        font-size: 14px;
    }
}
header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #fafafa;
    border-bottom: 1px solid #1a1a1a;
    padding: 15px;
}

header img {
    height: 45px;
    object-fit: contain;
    justify-self: left;
    margin-right: 750px;
    margin-left: 10px;
}

header ul {
    display: flex;
    justify-content: right;
    align-items: center;
    list-style: none;
}

header li {
    margin: 0 6px;
    color: #1a1a1a;
}
header a {
    text-decoration: none;
    color: #1a1a1a;
    font-size: 14px;
    padding:  10px;
    transition: background-color 0.3s ease-in-out;
   
}

header a:hover {
   color: #1a1a1a;
   border-bottom: 1px solid #1a1a1a;
   border-bottom-width: thin;
   padding: 10px;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    header ul {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    header li {
        margin: 10px 0;
    }
}